.dept-pg-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

table{
    width: 60%;
    line-height: 2rem;
}

th{
    font-size: 1.5rem;
    padding: 5px;
}

thead tr:hover{
    background-color: white;
}

td{
    width: 30%;
    padding: 15px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover{
    background-color: gray;
}